# ignore .git and .cache folders
.git
.cache

# ignore all markdown files (md) except those that start with README, but including README-secret.md
*.md
!README*.md
README-secret.md

# ignore secrets
/secrets