version: "3.9"

services:
  postgres:
    image: $IMAGE_NAME
    environment:
      - POSTGRES_PASSWORD=postgres
      - TZ=America/Sao_Paulo
      - PG_CRON_DB=test
    restart: unless-stopped
    networks:
      - pgtest_network
    ports:
      - "5433:5432"

  sut:
    build: ./tests
    command:
      - "/tests/wait-for-postgres.sh"
      - "psql"
      - "postgresql://postgres:postgres@postgres:5432/postgres"
      - "-a"
      - "-f"
      - "/tests/create_extensions.sql"
    restart: 'no'
    depends_on:
      - postgres
    networks:
      - pgtest_network

networks:
  pgtest_network:
    driver: bridge
